
# Puerto del servidor REST
PORT=3000

# Puerto del servidor Socket.io
PORT_SOCKETIO=3001

# Entorno de ejecución
NODE_ENV=development

# URL de conexión a la base de datos PostgreSQL
DATABASE_URL=postgresql://glm:password@localhost:5432/sync_playlist_db

POSTGRES_USER=glm
POSTGRES_PASSWORD=password
POSTGRES_DB=sync_playlist_db
POSTGRES_PORT=5432
# Configuración interna de PostgreSQL para Docker
PGDATA=/var/lib/postgresql/data/pgdata

# Salts para bcrypt
SALTS="10"

# Clave secreta para JWT
JWT_SECRET=8db6f8591f65fbc1e14ebf4168d64ea0b1ab1b34e35ee2060502914501281f1d

# URL del frontend
FRONTEND_URL=http://localhost:5173

# Configuración de Firebase
FIREBASE_SERVICE_ACCOUNT_PATH=./src/config/firebase-service-account.json
FIREBASE_STORAGE_BUCKET=prueba-35ced.appspot.com